iot2050/code-node-red-xt05b.json
[
    {
        "id": "39b434bc.88fcdc",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a5434e48.f689c",
        "type": "serial in",
        "z": "39b434bc.88fcdc",
        "name": "",
        "serial": "a8853c62.43a3b",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "635f93fa.32673c",
                "1f030493.32863b",
                "633a0ac0.312204"
            ]
        ]
    },
    {
        "id": "19f38b0a.ef8bc5",
        "type": "mqtt out",
        "z": "39b434bc.88fcdc",
        "name": "Send data in 15min to back_end by mqtt",
        "topic": "container/value",
        "qos": "",
        "retain": "",
        "broker": "39bae9e8.0a8086",
        "x": 1315,
        "y": 140,
        "wires": [],
        "l": false
    },
    {
        "id": "8666b476.25f818",
        "type": "file",
        "z": "39b434bc.88fcdc",
        "name": "save-file 15p csv",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1870,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "635f93fa.32673c",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "convert into json",
        "func": "var stringarray = msg.payload.split(' ');\nmsg.payload = '{\"id_container\": '+stringarray[0]+ ',\"Time\": '+ stringarray[1] + ',\"Temp\": '+ stringarray[4] + ',\"Humidity\": '+ stringarray[3]+',\"CO2\": '+stringarray[2]+',\"a\": 5}';\n//msg.payload = JSON.parse(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "b406f106.e2996"
            ]
        ]
    },
    {
        "id": "54122963.02e6a8",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "xu li 15p",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar i,j,n ;\nn = msg.payload.length;\nfor(i=0; i<n; i++){\n    for (j= i+1; j<n; j++){\n        if(msg.payload[j].Time == msg.payload[i].Time){\n            msg.payload.splice(i,1);\n            n=n-1;\n        }\n    }\n}\n\nfor ( i= 0 ; i < 15 ; i++) {\n    msg.payload.Time= parseFloat(msg.payload.Time,10);\n    msg.payload.CO2= parseFloat(msg.payload.CO2,10);\n    msg.payload.Humidity= parseFloat(msg.payload.Humidity,10);\n    msg.payload.Temp= parseFloat(msg.payload.Temp,10);\n}\nvar mean , max , min , variance, b =[] ;\nvar json_data1={\n            \n            \"container_id\":1,\n            \"data_time\":12,\n            \"json_data\":{\n            \"co2\":{\"max\":0 ,\"min\":0,\"mean\": 0,\"variance\": 0},\n            \"humidity\":{\"max\":0,\"min\":0,\"mean\": 0,\"variance\": 0},\n            \"temperature\":{\"max\":0,\"min\":0,\"mean\": 0,\"variance\": 0},\n            \"vibration\":{\"max\":0,\"min\": 0,\"mean\": 0,\"variance\": 0}\n        }} ;\n        //2021-11-03 14:29:52.230329\n    json_data1.container_id = msg.payload[1].id_container ;\n    json_data1.data_time = getdatetime() ;// get realtime. NOTIFICATION\nfunction getdatetime()\n{\n    var m = new Date();\nvar dateString =\n    m.getUTCFullYear() + \"-\" +\n    (\"0\" + (m.getUTCMonth()+1)).slice(-2) + \"-\" +\n    (\"0\" + m.getUTCDate()).slice(-2) + \" \" +\n    (\"0\" + m.getUTCHours()).slice(-2) + \":\" +\n    (\"0\" + m.getUTCMinutes()).slice(-2) + \":\" +\n    (\"0\" + m.getUTCSeconds()).slice(-2);\n    return dateString\n}\nfunction xulydulieu(a){\n    var i  ;\n    mean = 0 ;\n    max =0 ;\n    min =5000 ;\n    variance =0 ;\n    for ( i= 0; i< 15; i++ ){ \n        mean = mean + a[i] ;\n        if ( a[i] >= max ){ max = a[i] };\n        if ( a[i] <= min ){ min = a[i] };\n        }\n    mean = mean /15 ;\n    for ( i= 0 ;i< 15; i++){ variance = variance+(a[i]-mean)*(a[i]-mean) } ;\n    variance = variance / 14 ;\n}\n    for ( i =0; i< 15; i++){ b[i] = parseFloat(msg.payload[i].CO2) };\n     xulydulieu(b) ;\n     json_data1.json_data.co2.max = max ;\n     json_data1.json_data.co2.min = min ;\n     json_data1.json_data.co2.mean = mean ;\n     json_data1.json_data.co2.variance = variance ;\n    \n       for ( i =0;i<15;i++){ b[i] = parseFloat(msg.payload[i].Humidity) };\n     xulydulieu(b) ;\n     json_data1.json_data.humidity.max = max ;\n     json_data1.json_data.humidity.min = min ;\n     json_data1.json_data.humidity.mean = mean ;\n     json_data1.json_data.humidity.variance = variance ;\n     for ( i =0;i<15;i++){ b[i] = parseFloat(msg.payload[i].Temp) };\n     xulydulieu(b) ;\n     json_data1.json_data.temperature.max = max ;\n     json_data1.json_data.temperature.min = min ;\n     json_data1.json_data.temperature.mean = mean ;\n     json_data1.json_data.temperature.variance = variance ;\n    \n    \n msg.payload = JSON.stringify(json_data1); \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1160,
        "y": 20,
        "wires": [
            [
                "2efccfc8.24199"
            ]
        ]
    },
    {
        "id": "b406f106.e2996",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "set filename ",
        "func": "var b ;\nmsg.payload = JSON.parse(msg.payload);// convert string json to object json\nmsg.payload.Time= parseFloat(msg.payload.Time);//\nmsg.payload.CO2= parseFloat(msg.payload.CO2,10);\nmsg.payload.Humidity= parseFloat(msg.payload.Humidity,10);\nmsg.payload.Temp= parseFloat(msg.payload.Temp,10);\nb = Math.floor(msg.payload.Time / 15);\nmsg.payload.a= msg.payload.Time % 15 ;\nvar d = String(msg.payload.id_container);\nlistcontainer=flow.get(\"data3\");\nvar magd =String(listcontainer[msg.payload.id_container]);\nmsg.filename = '/root/container-monitor/'+String(msg.payload.id_container)+'/'+magd+'/'+String(b*15)+'.txt';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "5157bb03.1dc954"
            ]
        ]
    },
    {
        "id": "81464ac3.247eb8",
        "type": "file",
        "z": "39b434bc.88fcdc",
        "name": "save file csv 1p",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "eae18bbf.577468",
        "type": "file in",
        "z": "39b434bc.88fcdc",
        "name": "read file 1p",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 930,
        "y": 20,
        "wires": [
            [
                "3572e45e.74feac"
            ]
        ]
    },
    {
        "id": "405cad2c.cd1d34",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "p0",
        "func": "msg.payload = JSON.stringify(msg.payload)+\",\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 120,
        "wires": [
            [
                "81464ac3.247eb8"
            ]
        ]
    },
    {
        "id": "8ea33a56.d88c78",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "p14",
        "func": "msg.payload = JSON.stringify(msg.payload)+\"]\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 180,
        "wires": [
            [
                "81464ac3.247eb8"
            ]
        ]
    },
    {
        "id": "2acaf5c9.3f40da",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "msg.payload = JSON.stringify(msg.payload)+\",\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 260,
        "wires": [
            [
                "81464ac3.247eb8"
            ]
        ]
    },
    {
        "id": "3c78b930.e5d066",
        "type": "ping",
        "z": "39b434bc.88fcdc",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "check_connect",
        "host": "facebook.com",
        "timer": "5",
        "inputs": 0,
        "x": 1080,
        "y": 380,
        "wires": [
            [
                "2faf756a.bea0da"
            ]
        ]
    },
    {
        "id": "233c1a6b.f97f66",
        "type": "switch",
        "z": "39b434bc.88fcdc",
        "name": "",
        "property": "data1",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1550,
        "y": 20,
        "wires": [
            [
                "8666b476.25f818"
            ],
            [
                "f9c0a71e.355588",
                "977fe1d6.7c5e4"
            ]
        ]
    },
    {
        "id": "977fe1d6.7c5e4",
        "type": "file in",
        "z": "39b434bc.88fcdc",
        "name": "read file15min",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "fba2b8d9.5653a8",
                "f13aa072.2ce39"
            ]
        ]
    },
    {
        "id": "f13aa072.2ce39",
        "type": "mqtt out",
        "z": "39b434bc.88fcdc",
        "name": "Send data in 15min to back_end by mqtt",
        "topic": "container/value",
        "qos": "",
        "retain": "",
        "broker": "39bae9e8.0a8086",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "6630a801.8584c8",
        "type": "file",
        "z": "39b434bc.88fcdc",
        "name": "delete file 15 min",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 1090,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "fba2b8d9.5653a8",
        "type": "delay",
        "z": "39b434bc.88fcdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "6630a801.8584c8"
            ]
        ]
    },
    {
        "id": "932c2951.b6c7a8",
        "type": "serial out",
        "z": "39b434bc.88fcdc",
        "name": "",
        "serial": "a8853c62.43a3b",
        "x": 700,
        "y": 880,
        "wires": []
    },
    {
        "id": "43b83f58.254e3",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "var values = flow.get(\"data2\");\nvalues = parseInt(values);\nvalues = values +1 ;\nif (values == 3) {values = 1 ;};\na=\"C\"+String(values);\nflow.set(\"data2\",values);\nmsg.payload =a;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 880,
        "wires": [
            [
                "77f44e08.40a08",
                "932c2951.b6c7a8"
            ]
        ]
    },
    {
        "id": "5157bb03.1dc954",
        "type": "switch",
        "z": "39b434bc.88fcdc",
        "name": "",
        "property": "payload.a",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "1",
                "vt": "num",
                "v2": "13",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "405cad2c.cd1d34"
            ],
            [
                "8ea33a56.d88c78",
                "4d56ba24.6de5b4"
            ],
            [
                "2acaf5c9.3f40da"
            ]
        ]
    },
    {
        "id": "4d56ba24.6de5b4",
        "type": "delay",
        "z": "39b434bc.88fcdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 750,
        "y": 20,
        "wires": [
            [
                "eae18bbf.577468"
            ]
        ]
    },
    {
        "id": "2faf756a.bea0da",
        "type": "change",
        "z": "39b434bc.88fcdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1440,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "1f030493.32863b",
        "type": "debug",
        "z": "39b434bc.88fcdc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 360,
        "wires": []
    },
    {
        "id": "2efccfc8.24199",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "set file name 15p",
        "func": "msg.payload=JSON.parse(msg.payload);\nvar listcontainer=flow.get(\"data3\");\nvar magd = String(listcontainer[msg.payload.container_id]);\nmsg.filename = '/root/container-monitor/'+String(msg.payload.container_id)+'/'+magd+'/file15.txt' ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1350,
        "y": 20,
        "wires": [
            [
                "233c1a6b.f97f66"
            ]
        ]
    },
    {
        "id": "3572e45e.74feac",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "msg.payload= '['+ msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1020,
        "y": 140,
        "wires": [
            [
                "54122963.02e6a8"
            ]
        ]
    },
    {
        "id": "7a31e06a.1d3f9",
        "type": "mqtt in",
        "z": "39b434bc.88fcdc",
        "name": "get id_transaction from back_end",
        "topic": "container/magd",
        "qos": "2",
        "datatype": "auto",
        "broker": "39bae9e8.0a8086",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "bd7832cd.027e1"
            ]
        ]
    },
    {
        "id": "181d91f.007956e",
        "type": "inject",
        "z": "39b434bc.88fcdc",
        "name": "repeat send request from iot to container",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 880,
        "wires": [
            [
                "43b83f58.254e3"
            ]
        ]
    },
    {
        "id": "77f44e08.40a08",
        "type": "debug",
        "z": "39b434bc.88fcdc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 960,
        "wires": []
    },
    {
        "id": "633a0ac0.312204",
        "type": "delay",
        "z": "39b434bc.88fcdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "5f47ed2f.206d74"
            ]
        ]
    },
    {
        "id": "5f47ed2f.206d74",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "msg.payload='1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "202db12b.ad964e",
        "type": "change",
        "z": "39b434bc.88fcdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a541649c.e7e958",
        "type": "inject",
        "z": "39b434bc.88fcdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"1\": \"ABC\",\"2\": \"DEF\"}",
        "payloadType": "json",
        "x": 360,
        "y": 640,
        "wires": [
            [
                "202db12b.ad964e"
            ]
        ]
    },
    {
        "id": "bd7832cd.027e1",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "var listcontainer = flow.get(\"data3\");\n\n\nlistcontainer[msg.payload.id]=msg.payload.magd;\nflow.set(\"data3\",listcontainer);\nmsg.payload=flow.get(\"data3\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6db90d49.af0914",
        "type": "inject",
        "z": "39b434bc.88fcdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 820,
        "wires": [
            [
                "71ebb6f9.c48f08"
            ]
        ]
    },
    {
        "id": "71ebb6f9.c48f08",
        "type": "change",
        "z": "39b434bc.88fcdc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "data2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "bbcd4064.a7cb2",
        "type": "function",
        "z": "39b434bc.88fcdc",
        "name": "",
        "func": "var v = flow.get(\"hieu\");\nv = parseInt(v);\nv = v +1 ;\nif (v == 3) {v = 1 ;};\nb=\"B\"+String(v);\nflow.set(\"hieu\",v);\nmsg.payload = b;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nif (flow.get(\"hieu\") === undefined) {\n    flow.set(\"hieu\", 0)\n}",
        "finalize": "",
        "x": 420,
        "y": 1100,
        "wires": [
            [
                "5d558618.7d9918"
            ]
        ]
    },
    {
        "id": "5d558618.7d9918",
        "type": "debug",
        "z": "39b434bc.88fcdc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9c23ac46.f5602",
        "type": "inject",
        "z": "39b434bc.88fcdc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 1100,
        "wires": [
            [
                "bbcd4064.a7cb2"
            ]
        ]
    },
    {
        "id": "f9c0a71e.355588",
        "type": "delay",
        "z": "39b434bc.88fcdc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1390,
        "y": 100,
        "wires": [
            [
                "19f38b0a.ef8bc5"
            ]
        ]
    },
    {
        "id": "a8853c62.43a3b",
        "type": "serial-port",
        "serialport": "/dev/ttyS1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": ";",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "1000"
    },
    {
        "id": "39bae9e8.0a8086",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "075f7b803efc48c687b90c647a81607e.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "5ecbbd09.ccdf54",
        "clientid": "xt05b",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5ecbbd09.ccdf54",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    }
]